# Reference / vendored code
micrograd/
tests/test_scalar.py
demo/micrograd.ipynb
demo/LeNet.ipynb
models/

# Python cache
__pycache__/
**/__pycache__/

# Pytest cache
.pytest_cache/

# Local notebooks
.ipynb_checkpoints/

# Python environments
venv/

# installation metadata
*.egg-info/
